
/* # fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/* # variables */
:root{
  --main-color: hsl(345, 90%, 60%);

  /* text colors */
  --text-dark-gray: hsl(0, 0%, 25%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-black: hsl(0, 0%, 0%);

  /* bg colors */
  --bg-light-yellow: hsl(42, 26%, 77%);
  --bg-x-light-yellow: hsl(42, 40%, 87%);
  --bg-green: hsl(167, 57%, 52%);
  --bg-purple: hsl(253, 79%, 77%);

  /* border colors */
  --border-dark: hsla(0, 0%, 0%, 0.1);
  --border-x-dark: hsla(0, 0%, 0%, 0.7);

  /* font family */
  --ff-carter-one: 'Carter One', cursive;

  /* font size */
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 22px;
  --fs-2xl: 28px;
  --fs-3xl: clamp(27px, 4vw, 50px);
  --fs-4xl: clamp(35px, 7vw, 90px);
  --fs-body: var(--fs-md);

  /* padding */
  --section-py: 80px;
}

/* # base */
html {
  scroll-behavior: smooth;
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: var(--fs-body);
  background-color: var(--bg-x-light-yellow);
  color: var(--text-dark-gray);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-top-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  color: var(--text-x-dark-gray);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

p + p {
  margin-top: 35px;
}

button {
  cursor: pointer;
}

::selection {
  color: var(--text-black);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-x-light-yellow);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-light-yellow);
}

/* # page wrapper */
.page-wrapper {
  overflow: hidden;
}
/* # container */
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
/* # section header */
/* # aos */
/* # text animation */
/* # btn */
/* # preloader */
/* # header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 18px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--text-x-dark-gray);
}
.header-logo span {
  text-transform: capitalize;
  color: var(--main-color);
}
.header-toggler {
  display: none;
}
.header-menu li {
  display: inline-block;
  margin-left: 40px;
}
.header-menu a {
  display: block;
  color: var(--text-x-dark-gray);
  transition: color 0.3s ease;
  font-weight: 400;
  text-transform: uppercase;
}
.header-menu a:hover {
  color: var(--main-color);
}
/* # home */
/* # about */
/* # performers */
/* # schedule */
/* # sponsors */
/* # pricing */
/* # contact */
/* # footer */